$font-main: "Georgia", sans-serif;

$color-main: rgba(205, 205, 205, 1);
$color-secondary: rgba(241, 205, 179, 1);
$color-gray: rgba(84, 84, 84, 1);

$padding-horizontal: 40px;
$padding-vertical: 80px;

$width-tablet: 960px;
$width-mobile: 768px;
